.bg-first{
    background-color: #fafafa;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: url("./images/image-mockups.png") , url("./images/bg-intro-desktop.svg"); 
    background-position: right -150px top -160px, right -350px top -250px;
    background-size: 700px, 1100px;
    background-repeat: no-repeat;
}

.bg-second{
    display: flex;
    align-items: center;
    background: url("./images/image-mockups.png");
    background-position: right -150px top -564px;
    background-repeat: no-repeat;
    background-size: 700px;
}

.button{
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(197,75%,46%));
    color: white;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}


#navigation-menu{
    display:none;
    font-size:40px;
    font-weight: 400;
    z-index: 1;
    width: 80vw;
    left:50%;
    margin-top: 20px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: absolute;
    transform: translateX(-50%);
}

#navigation-menu a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
#extra-button, #extra-button-one{
    display: none;
    background: none;
    border: none;
    outline: none;
}
@media (max-width:1000px){

    .navigation, header button{
        display: none;
    }
    #extra-button{
        display: flex;
    }
    
    .bg-second{
        background: url("./images/image-mockups.png");
        background-position: right -439px top -632px;
        background-repeat: no-repeat;
        background-size: 700px;
    }

    .bg-first{
        background: url("./images/image-mockups.png") , url("./images/bg-intro-desktop.svg"); 
        background-position: right -588px top -210px, right -381px top -648px;
        background-size: 700px, 1100px;
        background-repeat: no-repeat;
    }
}

@media(max-width:762px){
    .bg-first{
        background: url("./images/image-mockups.png") , url("./images/bg-intro-desktop.svg"); 
        background-position: right -669px top -201px, right -381px top -695px;
        background-size: 700px, 1100px;
        background-repeat: no-repeat;
    }
}